<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Swedish Event Planners - Client Request Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/main}">Swedish Event Planners</a>
        </div>
        <ul class="menu">
            <label th:text="'Logged in as: ' + ${user}"></label>
            <li>
                <form method="post" th:action="@{/logout}">
                    <a onclick="this.closest('form').submit();return false;" href="#">Logout</a>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="form-container">
        <h1>Client Request Details</h1>
        <form th:action="@{/planningRequest/createNewPlanningRequest}" method="POST">
            <div class="form-group">
                <label for="clientRecordNumber">Client record number:</label>
                <input type="text" id="clientRecordNumber" name="clientRecordNumber">
            </div>

            <div class="form-group">
                <label for="clientName">Client name:</label>
                <input type="text" id="clientName" name="clientName">
            </div>

            <div class="form-group">
                <label for="eventType">Event type:</label>
                <input type="text" id="eventType" name="eventType">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>

            <div class="form-dates">
                <div class="form-group">
                    <label for="eventStart">From:</label>
                    <input type="date" id="eventStart" name="eventStart">
                </div>

                <div class="form-group">
                    <label for="eventEnd">To:</label>
                    <input type="date" id="eventEnd" name="eventEnd">
                </div>
            </div>

            <div class="form-group">
                <label for="numberOfAttendants">Expected Number:</label>
                <input type="number" id="numberOfAttendants" name="numberOfAttendants">
            </div>

            <div class="form-group">
                <label for="plannedBudget">Planned Budget:</label>
                <input type="text" id="plannedBudget" name="plannedBudget">
            </div>

            <h2>Decorations</h2>
            <div class="form-group">
                <label for="decorations">Please specify decoration requirements:</label>
                <textarea id="decorations" name="decorations" rows="4"></textarea>
            </div>

            <h2>Food/Drinks</h2>
            <div class="form-group">
                <label for="foodAndDrinks">Please specify food and drinks requirements:</label>
                <textarea id="foodAndDrinks" name="foodAndDrinks" rows="4"></textarea>
            </div>

            <h2>Music</h2>
            <div class="form-group">
                <label for="music">Please specify music requirements:</label>
                <textarea id="music" name="music" rows="4"></textarea>
            </div>

            <h2>Other Requests</h2>
            <div class="form-group">
                <label for="photos">Filming/Photos</label>
                <input type="text" id="photos" name="photos">
            </div>
            <div class="form-group">
                <label for="posters">Posters/Art Work</label>
                <input type="text" id="posters" name="posters">
            </div>

            <h2>Computer-Related Issues</h2>
            <div class="form-group">
                <label for="computerRelated">Client will send us electronically the material</label>
                <textarea id="computerRelated" name="computerRelated" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="otherNeeds">Other needs:</label>
                <textarea id="otherNeeds" name="otherNeeds" rows="4" placeholder="Enter any additional requests here..."></textarea>
            </div>

            <button type="submit" class="btn-submit">Submit Request</button>
        </form>
    </div>
</main>

<footer>
    <div class="footer-content">
        <p>© 2024 Swedish Event Planners. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
