<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruitment Request - Swedish Event Planners</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/main}">Swedish Event Planners</a>
        </div>
        <ul class="menu">
            <label th:text="'Logged in as: ' + ${user}"></label>
            <li>
                <form method="post" th:action="@{/logout}">
                    <a onclick="this.closest('form').submit();return false;" href="#">Logout</a>
                </form>
            </li>
        </ul>
    </nav>
</header>

<!-- Recruitment Request Form -->
<section class="recruitment-request">
    <div class="form-container">
        <h1>Recruitment Request</h1>
        <form th:action="@{${editedRequest != null ? '/recruitmentRequest/editRequest?id=' + editedRequest.id : '/recruitmentRequest/createRecruitmentRequest'}}" method="post">
            <!-- Contract Type -->
            <label>Contract type:</label>
            <div class="radio-group">
                <label><input type="radio" name="contractType" value="FULL_TIME" th:checked="${editedRequest != null && editedRequest.contractType.name() == 'FULL_TIME'}" th:disabled="${userRole.name() == 'HR_MANAGER'}"> Full time</label>
                <label><input type="radio" name="contractType" value="PART_TIME" th:checked="${editedRequest != null && editedRequest.contractType.name() == 'PART_TIME'}" th:disabled="${userRole.name() == 'HR_MANAGER'}"> Part time</label>
            </div>

            <!-- Requesting Department -->
            <label>Requesting department:</label>
            <div class="radio-group">
                <label><input type="radio" name="requestingDepartment" value="ADMINISTRATION" th:checked="${editedRequest != null && editedRequest.requestingDepartment.name() == 'ADMINISTRATION'}" th:disabled="${userRole.name() == 'HR_MANAGER'}">Administration</label>
                <label><input type="radio" name="requestingDepartment" value="SERVICES" th:checked="${editedRequest != null && editedRequest.requestingDepartment.name() == 'SERVICES'}" th:disabled="${userRole.name() == 'HR_MANAGER'}">Services</label>
                <label><input type="radio" name="requestingDepartment" value="PRODUCTION" th:checked="${editedRequest != null && editedRequest.requestingDepartment.name() == 'PRODUCTION'}" th:disabled="${userRole.name() == 'HR_MANAGER'}"> Production</label>
                <label><input type="radio" name="requestingDepartment" value="FINANCIAL" th:checked="${editedRequest != null && editedRequest.requestingDepartment.name() == 'FINANCIAL'}" th:disabled="${userRole.name() == 'HR_MANAGER'}"> Financial</label>
            </div>

            <!-- Years of Experience -->
            <label for="experience">Years of experience:</label>
            <input type="text" id="experience" name="experience" placeholder="Enter experience requirements..." th:value="${editedRequest != null ? editedRequest.experience : ''}" th:readonly="${userRole.name() == 'HR_MANAGER'}">

            <!-- Job Title -->
            <label for="jobTitle">Job title:</label>
            <input type="text" id="jobTitle" name="jobTitle" placeholder="Graphic Designer" th:value="${editedRequest != null ? editedRequest.jobTitle : ''}" th:readonly="${userRole.name() == 'HR_MANAGER'}">

            <!-- Job Description -->
            <label for="jobDescription">Job description:</label>
            <textarea id="jobDescription" name="jobDescription" rows="4" placeholder="Describe the job details here..." th:text="${editedRequest != null ? editedRequest.jobDescription : ''}" th:readonly="${userRole.name() == 'HR_MANAGER'}"></textarea>

            <!-- Submit Button -->
            <button type="submit" class="btn-submit" th:if="${userRole.name() != 'HR_MANAGER'}">Submit Request</button>
            <br/>
            <a class="btn" th:href="@{/recruitmentRequest/manageRecruitmentRequests}" th:if="${userRole.name() == 'HR_MANAGER'}">Back to Recruitment Requests Management</a>
        </form>
    </div>
</section>
</body>
</html>
