<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Planning Requests - Swedish Event Planners</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/main}">Swedish Event Planners</a>
        </div>
        <ul class="menu">
            <label th:text="'Logged in as: ' + ${user}"></label>
            <li>
                <form method="post" th:action="@{/logout}">
                    <a onclick="this.closest('form').submit();return false;" href="#">Logout</a>
                </form>
            </li>
        </ul>
    </nav>
</header>

<!-- Event Planning Requests Section -->
<section class="event-planning-requests">
    <div class="container">
        <h1>Event Planning Requests</h1>
        <table>
            <thead>
            <tr>
                <th>Request Job Title</th>
                <th>Requested By</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requests}">
                <td th:text="${request.jobTitle}"></td>
                <td th:text="${request.createdBy}"></td>
                <td th:text="${request.status.label}"></td>
                <td th:text="${request.priority.label}"></td>
                <td>
                    <div th:if="${request.status.name() != 'FULFILLED'}">
                        <a th:if="${userRole.name() == 'SERVICE_MANAGER' || userRole.name() == 'PRODUCTION_MANAGER'}" th:href="@{'/recruitmentRequest/editRequest?id=' + ${request.id}}" class="btn">Edit</a>
                        <a th:if="${userRole.name() == 'SERVICE_MANAGER' || userRole.name() == 'PRODUCTION_MANAGER'}" th:href="@{'/recruitmentRequest/sendRequestToHR?id=' + ${request.id}}" class="btn">Send to HR</a>
                        <a th:if="${userRole.name() == 'SERVICE_MANAGER' || userRole.name() == 'PRODUCTION_MANAGER'}" th:href="@{'/recruitmentRequest/deleteRequest?id=' + ${request.id}}" class="btn">Delete Request</a>
                        <a th:if="${userRole.name() == 'HR_MANAGER'}" th:href="@{'/recruitmentRequest/viewRequest?id=' + ${request.id}}" class="btn">View Request</a>
                        <a th:if="${userRole.name() == 'HR_MANAGER'}" th:href="@{'/recruitmentRequest/closeRequest?id=' + ${request.id}}" class="btn">Close Request</a>
                        <form id="priorityForm" th:action="@{'/recruitmentRequest/changePriority?id=' + ${request.id}}" method="POST">
                            <select th:name="priority" th:if="${userRole.name() == 'PRODUCTION_MANAGER' || userRole.name() == 'SERVICE_MANAGER'}" onchange="changePriority(this)">
                                <option value="" disabled selected>Select a priority</option>
                                <option th:each="priority  : ${priorities}" th:value="${priority}" th:text="${priority.label}"></option>
                            </select>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- Footer -->
<footer>
    <p>© 2024 Swedish Event Planners. All rights reserved.</p>
</footer>
<script>
    function changePriority(select) {
        const selectedValue = select.value;
        // Implement logic for changing the priority
        document.getElementById('priorityForm').submit();
    }

</script>
</body>
</html>
